[submodule "SDRAM_Controller"]
	path = SDRAM_Controller
	url = jabil@10.125.72.72:/home/jabil/git/SDRAM_Controller
[submodule "jpeg-2000-test"]
	path = jpeg-2000-test
	url = https://github.com/develone/jpeg-2000-test.git
[submodule "KalmanFilter"]
	path = KalmanFilter
	url = https://github.com/josyb/KalmanFilter.git
[submodule "myhdl_butterfly"]
	path = myhdl_butterfly
	url = https://github.com/ddetienne/myhdl_butterfly.git
[submodule "hdlregs"]
	path = hdlregs
	url = https://github.com/noasic/hdlregs.git
