# UCF file automatically create by "stroby_run_tools.py"
#
NET "led[6]"  LOC = "P99" ;
NET "led[0]"  LOC = "P90" ;
NET "led[1]"  LOC = "P91" ;
NET "led[2]"  LOC = "P92" ;
NET "led[3]"  LOC = "P94" ;
NET "led[4]"  LOC = "P95" ;
NET "led[5]"  LOC = "P96" ;
NET "srst"  LOC = "P13" ;
NET "clk"  LOC = "P35" ;
#
