## Constraints for the Signa-X250 and Signal-X500
## Pin Constraints
NET "reset"    LOC = P13  | IOSTANDARD = LVCMOS33;
NET "clk"      LOC = P35 | IOSTANDARD=LVCMOS33 ;

NET "LED[0]" LOC = P90 | IOSTANDARD = LVCMOS33;
NET "LED[1]" LOC = P91 | IOSTANDARD = LVCMOS33;
NET "LED[2]" LOC = P92 | IOSTANDARD = LVCMOS33;
NET "LED[3]" LOC = P94 | IOSTANDARD = LVCMOS33;
NET "LED[4]" LOC = P95 | IOSTANDARD = LVCMOS33;
NET "LED[5]" LOC = P98 | IOSTANDARD = LVCMOS33;
NET "LED[6]" LOC = P99 | IOSTANDARD = LVCMOS33;

NET "AUDIO_CLK"    LOC = P63  | IOSTANDARD = LVCMOS33;
NET "AUDIO_BCLK"   LOC = P85  | IOSTANDARD = LVCMOS33;
NET "AUDIO_DIN"    LOC = P62  | IOSTANDARD = LVCMOS33;
NET "AUDIO_LRCIN"  LOC = P65  | IOSTANDARD = LVCMOS33;
NET "AUDIO_LRCOUT" LOC = P68  | IOSTANDARD = LVCMOS33;
NET "AUDIO_CSN"    LOC = P84  | IOSTANDARD = LVCMOS33;
NET "AUDIO_SCLK"   LOC = P78  | IOSTANDARD = LVCMOS33;
NET "AUDIO_SDIN"   LOC = P79  | IOSTANDARD = LVCMOS33;

NET "AUDIO_MODE"   LOC = P66  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "AUDIO_DOUT"   LOC = P69  | IOSTANDARD = LVCMOS33;

NET "TP_HDR[0]" LOC = P53 | IOSTANDARD = LVCMOS33; # DIO_10
NET "TP_HDR[1]" LOC = P54 | IOSTANDARD = LVCMOS33; # DIO_11
NET "TP_HDR[2]" LOC = P57 | IOSTANDARD = LVCMOS33; # DIO_12
NET "TP_HDR[3]" LOC = P58 | IOSTANDARD = LVCMOS33; # DIO_13
NET "TP_HDR[4]" LOC = P60 | IOSTANDARD = LVCMOS33; # DIO_14
NET "TP_HDR[5]" LOC = P61 | IOSTANDARD = LVCMOS33; # DIO_15
NET "TP_HDR[6]" LOC = P67 | IOSTANDARD = LVCMOS33; # DIO_16
NET "TP_HDR[7]" LOC = P70 | IOSTANDARD = LVCMOS33; # DIO_17
