## Constraints for the Signa-X250 and Signal-X500
## Pin Constraints
NET "reset_in"    LOC = P13  | IOSTANDARD = LVCMOS33;
NET "clock_in"      LOC = P35 | IOSTANDARD=LVCMOS33 ;

NET "LEDS[0]" LOC = P90 | IOSTANDARD = LVCMOS33;
NET "LEDS[1]" LOC = P91 | IOSTANDARD = LVCMOS33;
NET "LEDS[2]" LOC = P92 | IOSTANDARD = LVCMOS33;
NET "LEDS[3]" LOC = P94 | IOSTANDARD = LVCMOS33;
NET "LEDS[4]" LOC = P95 | IOSTANDARD = LVCMOS33;
NET "LEDS[5]" LOC = P98 | IOSTANDARD = LVCMOS33;
NET "LEDS[6]" LOC = P99 | IOSTANDARD = LVCMOS33;

#NET "AUDIO_CLK"    LOC = P63  | IOSTANDARD = LVCMOS33;
NET "AUDIO_BCLK"   LOC = P85  | IOSTANDARD = LVCMOS33;
NET "AUDIO_DIN"    LOC = P62  | IOSTANDARD = LVCMOS33;
NET "AUDIO_LRCIN"  LOC = P65  | IOSTANDARD = LVCMOS33;
NET "AUDIO_LRCOUT" LOC = P68  | IOSTANDARD = LVCMOS33;
NET "AUDIO_CSN"    LOC = P84  | IOSTANDARD = LVCMOS33;
NET "AUDIO_SCLK"   LOC = P78  | IOSTANDARD = LVCMOS33;
NET "AUDIO_SDIN"   LOC = P79  | IOSTANDARD = LVCMOS33;

NET "AUDIO_MODE"   LOC = P66  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "AUDIO_DOUT"   LOC = P69  | IOSTANDARD = LVCMOS33;

NET "tst_pts[0]" LOC = P53 | IOSTANDARD = LVCMOS33; # DIO_10
NET "tst_pts[1]" LOC = P54 | IOSTANDARD = LVCMOS33; # DIO_11
NET "tst_pts[2]" LOC = P57 | IOSTANDARD = LVCMOS33; # DIO_12
NET "tst_pts[3]" LOC = P58 | IOSTANDARD = LVCMOS33; # DIO_13
NET "tst_pts[4]" LOC = P60 | IOSTANDARD = LVCMOS33; # DIO_14
NET "tst_pts[5]" LOC = P61 | IOSTANDARD = LVCMOS33; # DIO_15
NET "tst_pts[6]" LOC = P67 | IOSTANDARD = LVCMOS33; # DIO_16
NET "tst_pts[7]" LOC = P70 | IOSTANDARD = LVCMOS33; # DIO_17
